.mescia-landing {
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-entrance {
    text-align: center;
}
.enter-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #fff;
    color: #000;
    text-transform: uppercase;
}
